*,*::after,*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin:1rem;
}

article {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightblue;
    margin: 2rem;
    padding: 0rem 1rem 1rem 1rem;
}

.article__users {
    background-color: orchid;
}

.article__banks {
    background-color: lightseagreen;
}

.article__actual {
    background-color: lightpink;
}

.article__budget {
    background-color: lightgreen;
}

p {
    margin: 0rem;
    font-size: 0.75rem;
}

div {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

div ul {
    font-size: 0.75rem;
}

span {
    display: block;
    margin-left: 1rem;
    overflow-wrap: break-word;
}

.bold {
    font-weight: bolder;
    font-size: 0.8rem;
}

.back-to-top {
    max-width: 2.5rem;
    text-overflow: wrap;
    position: fixed;
    right: 0%;
    bottom: 0%;
}

.back-to-top__image {
    max-height: 2rem;
}

.back-to-top__text {
    text-decoration: none;
    font-size: 0.6rem;
}